<footer
  class="footer wow fadeInUp"
  data-wow-delay="2200ms"
  data-wow-duration="800ms"
>
  <div class="my-contacts">
    <a class="my-photo-link" target="_blank" href="https://vextor.ru/">
      <img class="my-photo" src="/img/my-photo.png" alt="" />
    </a>
    <a class="text-link" target="_blank" href="https://vextor.ru/"
      >© Владислав, МО Тарасовка</a
    >
    <a
      class="my-whatsapp"
      target="_blank"
      href="https://api.whatsapp.com/send?phone=79262215862"
      ><img class="my-whatsapp-img" src="/img/whatsapp.svg" alt=""
    /></a>
  </div>
</footer>