<div class="game wow fadeIn" data-wow-delay="0.5s" data-wow-duration="2000ms">
  <div id="overlay"></div>
  <div id="toast">
    <img class="toast-img" src="/img/santa.svg" alt="" />
    <div class="toast-text"></div>
  </div>
  <div class="wrapper">
    <div class="inside">

      //= heading.html
      
      <div
        class="score wow fadeInUp"
        data-wow-delay="1200ms"
        data-wow-duration="800ms"
      >
        <span id="victories">0</span><span id="colon">:</span
        ><span id="defeats">0</span>
      </div>
      <div id="area">
        <div
          class="box wow fadeInUp"
          data-wow-delay="1300ms"
          data-wow-duration="800ms"
        ></div>
        <div
          class="box wow fadeInUp"
          data-wow-delay="1400ms"
          data-wow-duration="800ms"
        ></div>
        <div
          class="box wow fadeInUp"
          data-wow-delay="1500ms"
          data-wow-duration="800ms"
        ></div>
        <div
          class="box wow fadeInUp"
          data-wow-delay="1600ms"
          data-wow-duration="800ms"
        ></div>
        <div
          class="box wow fadeInUp"
          data-wow-delay="1700ms"
          data-wow-duration="800ms"
        ></div>
        <div
          class="box wow fadeInUp"
          data-wow-delay="1800ms"
          data-wow-duration="800ms"
        ></div>
        <div
          class="box wow fadeInUp"
          data-wow-delay="1900ms"
          data-wow-duration="800ms"
        ></div>
        <div
          class="box wow fadeInUp"
          data-wow-delay="2000ms"
          data-wow-duration="800ms"
        ></div>
        <div
          class="box wow fadeInUp"
          data-wow-delay="2100ms"
          data-wow-duration="800ms"
        ></div>
      </div>
    </div>

    //= footer.html
    
  </div>
</div>
