/* 3 класса для разработки, по умолчанию красный цвет */
.dev, .dev-r, .dev-red {
    border: 1px dashed red !important;
}
.dev-b, .dev-blue {
    border: 1px dashed blue !important;
}
.dev-g, .dev-green {
    border: 1px dashed green !important;
}