// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap
body {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}

.page {
  display: block;
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 100vh;
  padding: 45px 0 45px 0;
  background: url(/img/winter-village.jpg) no-repeat;
  background-position-x: center;
  background-size: cover;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 98%;
  margin: 0;
  // margin-top: 10vh;
  font-family: "Snow for Santa";
  font-size: 29px;
  font-weight: 900;
  color: $main_headline;
  letter-spacing: 2px;
  line-height: 30px;
  text-shadow: 1px 0 20px #fff, 0 1px 20px #fff, -1px 0 20px #fff,
    0 -1px 20px #fff;

  .fist-line {
    transform: scaleY(1.2);
  }
  .second-line {
    font-size: 18px;
    font-weight: 200;
    white-space: nowrap;

    > span:first-child {
      font-size: 22px;
      // letter-spacing: 6px;
    }
    > span:last-child {
      font-size: 28px;
      color: red;
    }
  }
}

#area {
  position: relative;
  z-index: 1000;
  width: 300px;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(33.33% - 6px);
  height: calc(33.33% - 6px);
  background: #fff;
  margin: 3px;
  font-size: 50px;
  border: 1px solid #77beec;
  border-radius: 8px;
  background-size: 65%;
  box-shadow: 1px 0 20px #54acd0, 0 1px 20px #54acd0, -1px 0 20px #54acd0,
    0 -1px 20px #54acd0;

  img {
    height: 60px;
    width: auto;
  }
}

.score {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 106px;
  height: 50px;
  margin: 5vh 0 1vh 0;
  font-family: "Arial";
  font-size: 32px;
  font-weight: 900;
  text-shadow: 1px 0 18px #fff, 0 1px 18px #fff, -1px 0 18px #fff,
    0 -1px 18px #fff;
}
#victories {
  color: $victories_color;
  opacity: 0.75;
}
#defeats {
  color: $defeats_color;
}
.heart-beat {
  animation: heartBeat 1.3s ease-in-out;
}
@keyframes heartBeat {
  0% {
    transform: scale(1);
  }
  14% {
    transform: scale(1.3);
  }
  28% {
    transform: scale(1);
  }
  42% {
    transform: scale(1.3);
  }
  70% {
    transform: scale(1);
  }
}

#overlay {
  display: none;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #ccc;
  opacity: 0;
  z-index: 1100;
}

#toast {
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 310px;
  min-height: 100px;
  padding: 15px 15px 15px 25px;
  font-size: 16px;
  background: #fff;
  background: linear-gradient(-25deg, #fefcea 40%, #77beec);
  border: 2px solid rgba(255,255,255,0.5);
  border-radius: 10px;
  z-index: 1200;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  // transition: visibility 1s ease-out;

  .toast-img {
    height: 50px;
    width: auto;
    margin: 20px 0 5px 0;
  }
}

@media (max-height: 600px) {
  .score {
    margin: 0;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .score {
    margin: 6vh 0 1vh 0;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .score {
    margin: 6vh 0 1vh 0;
  }
  .box {
    &:hover {
      cursor: pointer;
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .score {
    margin: 8vh 0 1vh 0;
  }
  .box {
    &:hover {
      cursor: pointer;
    }
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .score {
    margin: 8vh 0 1vh 0;
  }
  .box {
    &:hover {
      cursor: pointer;
    }
  }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
  .score {
    margin: 8vh 0 1vh 0;
  }
  .box {
    &:hover {
      cursor: pointer;
    }
  }
}
